cmake-build-*/
build*/

#vim files
*.swp

# allow me to have a local .ignore file
.ignore

# clangd
.cache

# allow me to have a local compile_commands.json symlink into a build folder
compile_commands.json

# I like to have cpplint running
CPPLINT.cfg

todo.txt

*.csv
